.navbar-1{
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}

.navbar-1 div{
    display: flex;
    width: 100%;
    height: 30px;
    position: relative;
}

.navbar-1 div a{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    position: absolute;
}

.v-bg-light.navbar-1 div a{color: #000;}

.navbar-1 div a:hover{
    background-color: #fff;
    color: #000;
    transform: scale(1.1, 1.1);
    transition: transform 0.2s;
}

.navbar-1 .navbar-1-collapse .v-btn-collapse{
    padding: 6px;
    width: 30px;
    height: 30px;
    display: flex;
}

.navbar-1 .navbar-1-collapse{ 
    display: none;
    padding: 10px;
    height: auto;
    box-sizing: border-box;
    justify-content: flex-end;
}

.navbar-1 .navbar-1-collapse .v-btn-collapse div{
    height: 0;
}

@media screen and (max-width: 540px){
    .navbar-1{
        flex-direction: column;
    }
    .navbar-1 .navbar-1-collapse,
    .navbar-1 .navbar-1-collapse .v-btn-collapse,
    .navbar-1 .navbar-1-collapse .v-btn-collapse div{
        display: flex;
    }
    .navbar-1 div{
        display: none;
    }
}