.navbar-1{
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}

.navbar-1 div{
    width: 100%;
    height: 30px;
    position: relative;
}

.navbar-1 div a{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    position: absolute;
}

.v-bg-light.navbar-1 div a{color: #000;}

.navbar-1 div a:hover{
    background-color: #fff;
    color: #000;
    transform: scale(1.1, 1.1);
    transition: transform 0.2s;
}