.v-navbar-2{
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.v-navbar-2 div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 30px;
}

.v-navbar-2 div a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 97%;
    text-decoration: none;
    color: #fff;
}

.v-bg-light.v-navbar-2 div a{color: #666;}
.v-bg-light.v-navbar-2 div a:hover{color: #000;}

.v-navbar-2 div a:hover{
    background-color: #fff;
    color: #000;
}

.v-navbar-2 div .borderdown{
    width: 100%;
    display: none;
    margin: auto;
    height: 10%;
    background-color: rgb(177, 116, 4);
}

.v-navbar-2 .v-navbar-2-collapse .v-btn-collapse{
    padding: 6px;
    width: 30px;
    height: 30px;
    display: flex;
}

.v-navbar-2 .v-navbar-2-collapse{ 
    display: none;
    padding: 10px;
    height: auto;
    box-sizing: border-box;
    justify-content: flex-end;
}

.v-navbar-2 .v-navbar-2-collapse .v-btn-collapse div{
    height: 0;
}

@media screen and (max-width: 540px){
    .v-navbar-2{
        flex-direction: column;
    }
    .v-navbar-2 .v-navbar-2-collapse,
    .v-navbar-2 .v-navbar-2-collapse .v-btn-collapse,
    .v-navbar-2 .v-navbar-2-collapse .v-btn-collapse div{
        display: flex;
    }
    .v-navbar-2 div{
        display: none;
    }
}