.v-cards-group-2{
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.v-cards-group-2 > *{
    width: 32.5%;
}

@media screen and (max-width: 960px){
    .v-cards-group-2{
        flex-direction: column;
    }
    .v-cards-group-2 > *{
        width: 100%;
        margin-bottom: 20px;
    }
}
