.v-w-10{width: 10%;}
.v-w-20{width: 20%;}
.v-w-25{width: 25%;}
.v-w-30{width: 30%;}
.v-w-40{width: 40%;}
.v-w-50{width: 50%;}
.v-w-60{width: 60%;}
.v-w-70{width: 70%;}
.v-w-75{width: 75%;}
.v-w-80{width: 80%;}
.v-w-90{width: 80%;}
.v-w-100{width: 100%;}

.v-h-10{height: 10%;}
.v-h-20{height: 20%;}
.v-h-25{height: 25%;}
.v-h-30{height: 30%;}
.v-h-40{height: 40%;}
.v-h-50{height: 50%;}
.v-h-60{height: 60%;}
.v-h-70{height: 70%;}
.v-h-75{height: 75%;}
.v-h-80{height: 80%;}
.v-h-90{height: 80%;}
.v-h-100{height: 100%;}