.v-card-1{
    padding: 50px 40px;
    box-shadow: inset 0 0 3.5px 0.1px;
    border-radius: 30px;
}

.v-card-1-statistic{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.v-card-1-icon{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: #6c5dd3;
    clip-path: polygon(75% 0, 100% 25%, 100% 75%, 75% 100%, 
    25% 100%, 0 75%, 0 25%, 25% 0, 75% 0, 70% 30%, 30% 30%, 
    30% 70%, 70% 70%, 70% 30%);
}

.v-card-1-text{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.v-card-1-num{
    font-size: 70px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

.v-card-1-bar{
    width: 100%;
    height: 2px;
    background-color: #6c5dd3;
}