.v-card-2{
    background-color: #6c5dd3;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    padding: 35px 0;
}

.v-card-2 .v-card-2-img{
    width: 80%;
    height: 180px;
    border-radius: 20px;
    background-color: #999;
}

.v-card-2 .v-card-2-text{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.v-card-2 .v-card-2-text h1{
    margin: 6px;
    display: flex;
    justify-content: center;
    color: #ddd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.v-card-2 .v-card-2-text p{
    margin: 0;
    display: flex;
    justify-content: center;
    color: #aaa;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.v-card-2 .v-btn-1{
    margin-top: 70px;
}

@media screen and (max-width: 720px){
    .v-card-2 {
        padding: 25px;
        width: 100%;
        height: auto !important;
    }
    .v-card-2 .v-card-2-img{
        width: 100%;
        height: 200px;
    }
    .v-card-2 .v-card-2-info{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        width: 100%;
        justify-content: space-between;
    }
    .v-card-2 .v-card-2-text{
        align-items: flex-start;
        margin: 0;
    }
    .v-card-2 .v-btn-1 .v-btn-1-text{
        display: none;
    }
    .v-card-2 .v-btn-1 .v-btn-1-symbol{
        display: block;
    }
    .v-card-2 .v-btn-1{
        margin: 0;
        margin-left: 5px;
        padding: 25px;
    }
}