.v-card-2{
    background-color: #6c5dd3;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.v-card-2 .v-card-2-img{
    width: 100%;
    height: 180px;
    border-radius: 20px;
    background-color: #999;
}

.v-card-2 .v-card-2-text{
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.v-card-2 .v-card-2-text h1{
    margin: 6px;
    display: flex;
    justify-content: center;
    color: #ddd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.v-card-2 .v-card-2-text p{
    margin: 0;
    display: flex;
    justify-content: center;
    color: #aaa;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.v-card-2 .v-btn-1{
    margin-top: 30px;
}

.v-card-2 .v-card-2-min{
    display: none;
}

.v-min.v-card-2 .v-card-2-min{
    width: 100%;
    padding: 20px;
}

@media screen and (max-width: 1200px){
    .v-card-2 {
        border-radius: 20px;
        padding: 15px;
        width: 100%;
        height: auto !important;
    }
    .v-min.v-card-2 {
        padding: 0;
    }
    .v-card-2 .v-card-2-img{
        width: 100%;
        height: 200px;
    }
    .v-min.v-card-2 .v-card-2-img,
    .v-min.v-card-2 .v-card-2-info{
        display: none;
    }
    .v-min.v-card-2 .v-btn-1{
        display: none;
    }
    .v-card-2 .v-card-2-info{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        width: 100%;
        justify-content: space-between;
    }
    .v-card-2 .v-card-2-text{
        align-items: flex-start;
        margin: 0;
    }
    .v-card-2 .v-btn-1 .v-btn-1-text{
        display: none;
    }
    .v-card-2 .v-btn-1 .v-btn-1-symbol{
        display: block;
    }
    .v-card-2 .v-btn-1{
        margin: 0;
        margin-left: 5px;
        padding: 25px;
        width: auto;
        height: auto;
    }
    .v-min.v-card-2 .v-card-2-min{
        display: flex;
        justify-content: flex-start;
        padding: 15px;
    }
    .v-min.v-card-2 .v-card-2-text{
        width: 85%;
    }
    .v-min.v-card-2 .v-card-2-go{
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 25px;
    }
    .v-min.v-card-2:hover .v-card-2-go{
        opacity: 0.5;
    }
}