.v-editor{
    border: 0.3px solid #aaa;
}

.v-editor-settings{
    height: 10%;
    border-bottom: 0.3px solid #aaa;
}

.v-editor-content{
    height: 90%;
    display: flex;
}

.v-editor-lines{
    height: 100%;
    width: 10%;
    border-right: 0.3px solid #aaa;
}

.v-editor-text{
    height: 100%;
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
}

.v-editor-line{
    font-family: monospace;
    font-size: 20px;
    min-height: 23.43px;
}

.v-editor-area{
    position: relative;
    min-height: 23.43px;
    display: inline-flex;
    white-space: pre-wrap;
    word-break: break-all;
}

.v-editor-cursor{
    position: absolute;
    width: 2px;
    height: 23.43px;
    background-color: #f00;
}
