.v-slider-1{
    overflow: hidden;
    position: relative;
    /*display: grid;
    grid-template-rows: 1fr 8fr 1fr; - вот эта тварь портит весь слайдер */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    background: linear-gradient(150deg, rgba(155,99,198,1) 0%, rgba(102,45,222,1) 100%);
}

.v-slider-1 .v-btn{
    height: 10%;
    width: 100%;
}

.v-slider-1 .v-slider-1-switches{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.v-container-full.v-slider-1 .v-slider-1-switches{
    position: absolute;
    bottom: 0;
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
}

.v-slider-1 .v-slider-1-switches label{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #000;
    margin-left: 2%;  
    opacity: .5;
    cursor: pointer;
}

.v-slider-1 .v-slider-1-switches .v-active-slide{
    background-color: #fff;
    opacity: 1;
}

.v-slider-1-switches label:hover{
    background-color: #fff;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.v-slider-1 .v-slider-1-items{
    height: 80%;
    display: flex;
    transition: margin-left 0.5s;
}

.v-container-full.v-slider-1 .v-slider-1-items{
    height: 100%;
}

.v-slider-1-slids{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.v-slider-1-slids div{
    box-sizing: border-box;
    width: 125px;
    height: 125px;
    background-color: #fff;
    opacity: .5;
    border-radius: 50%;
}

.v-slider-1-slids h3{
    margin: 0;
    color: #fff;
    text-transform: uppercase;
}

.v-slider-1-slids p{
    margin: 0;
    color: #fff;
    width: 70%;
    opacity: 0.7;
}

.v-slider-1 .v-slider-1-lb,
.v-slider-1 .v-slider-1-rb {
    z-index: 1;
    position: absolute;
    height: 80%;
    width: 10%;
    background-color: transparent;
    opacity: .25;
    font-size: 25px;
    color: #fff;
    top: 10%;
    bottom: 10%;
}

.v-container-full.v-slider-1 .v-slider-1-lb,
.v-container-full.v-slider-1 .v-slider-1-rb {
    top: 0;
    height: 100%;
}

.v-slider-1 .v-slider-1-lb:hover,
.v-slider-1 .v-slider-1-rb:hover {
    opacity: 1;
    transition: opacity 0.1s;
}

.v-slider-1 .v-slider-1-lb{
    left: 0;
}

.v-slider-1 .v-slider-1-rb{
    right: 0;
}
