.openref, .openref body, .openref section{
    min-height: 100%;
    margin: 0;
    padding: 0;
}
.openref body,.openref section{
    background: white;
    display: flex;
}

.openref body{
    flex-direction: column;
    align-items: center;
}

.openref main{
    padding: 50px;
    width: 100%;
}

.openref main > .v-text-banner-1{
    padding: 0 20px 20px 20px;
    width: 100%;
}

.openref .v-slider-margin{
    width: 100%;
    border-radius: 50px;
    height: 300px;
}

.openref .v-text-banner-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.openref .v-text-banner-1 > .text-coding{
    display: flex;
    justify-content: center;
}

.openref .v-text-banner-1 > .text-coding a{
    color: #fff;
    text-transform: uppercase;
}

.openref .logo_openref{
    background-color: #333;
    min-height: 55px;
    display: flex;
    align-items: center;
}

.openref .top.v-text-banner-2{
    padding-top: 50px;
}

.openref .bottom.v-text-banner-2{
    padding-bottom: 50px;
}

.openref-about{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-rendering: geometricPrecision;
}

.openref-conats{
    display: flex;
}
.openref-conats-img{
    display: flex;
}
.openref-conats-img a{
    display: block;
    margin-left: 20px;
    height: 50px;
}
.openref-conats-img img{
    height: 100%;
}

.openref .auth{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width: 960px){
    .openref .v-cards-group-1{
        padding: 50px 0 !important;
        flex-wrap: wrap;
    }

    .openref .v-cards-group-1 > *{
        padding: 20px !important;
    }

    .openref .v-card-1-num{
        font-size: 22px !important;
    }

    .openref .v-card-1{
        border-radius: 10px !important;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 540px){
    .openref header{
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 1;
    }
    .openref main{
        padding: 20px;
    }
    .openref{
        padding-bottom: 80px;
        box-sizing: border-box;
    }
    .openref-conats{
        flex-direction: column;
    }
    .openref-conats-img{
        margin-top: 30px;
        justify-content: space-around;
    }
}