html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background: white;
    display: flex;
}

main{
    padding: 50px;
    width: 100%;
}

main > .v-text-banner-1{
    padding: 0 20px 20px 20px;
    width: 100%;
}

.v-slider-margin{
    width: 100%;
    border-radius: 50px;
    height: 300px !important;
}

@media screen and (max-width: 540px){
    header{
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    main{
        padding: 20px;
    }
}