.v-feedback-1{
    padding: 20px;
}

.v-feedback-1-text{
    display: flex;
    text-align: center;
    color: #555;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}