.v-articles-group{
    display: flex;
    flex-direction: column;
    border: 1px solid #f00;
    position: relative;
}

.v-horizontal-art-gr{
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    padding-left: 40px;
    display: flex;
    height: 40px;
    width: 100%;
}


.v-art-gr-content{
    display: flex;
    height: 100%;
}

.v-vertical-art-gr{
    display: none;
    width: 40px;
    height: 100%;
}

.v-content-art-gr{
    padding: 10px;
    box-sizing: border-box;
    display: none;
    width: 100%;
    height: 100%;
}

.v-art-title{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px 0 20px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.v-art-title:hover, .v-art-title-active{
    background-color: #ececec;
}

.v-art-close{
    display: none;
    position: absolute;
    right: 8px;
    top: 35%;
    user-select: none;
}

.v-art-title:hover .v-art-close{
    font-size: 12px;
    display: block;
}

.v-addArt{
    font-size: 16px;
    font-weight: bold;
    height: 100%;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.v-addArt:hover{
    background-color: #ececec;
}

.v-art-text{
    white-space: nowrap;
}

/*-------------------------------------------------------------------------*/