.text-coding{
    display: flex;
    width: 100%;
    height: 100%;
}
.text-line-coding{
    width: 2px;
    height: 100%;
    background-color: #f00;
}

@keyframes blink{
    50%{
        opacity: 1;
    }
}

.text-line-coding{
    width: 2px;
    height: 100%;
    background-color: #bbb;
    opacity: 0.2;
}

.text-coding-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 1px;
    font-family: 'AsusRog-Regular', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-line-coding-blink{
    animation: blink 1s ease infinite;
}