.v-d-none{display: none;}
.v-d-block{display: block;}
.v-d-flex{display: flex;}
.v-d-grid{display: grid;}

.v-flex-direct-col{flex-direction: column;}
.v-flex-direct-row{flex-direction: row;}
.v-flex-direct-rcol{flex-direction: column-reverse;}
.v-flex-direct-rrow{flex-direction: row-reverse;}

.v-flex-jcc{display: flex; justify-content: center;}
.v-flex-aic{display: flex; align-items: center;}
.v-flex-center{display: flex; align-items: center; justify-content: center;}

.v-grid-col-2,
.v-grid-col-3,
.v-grid-col-4,
.v-grid-col-5,
.v-grid-col-6,
.v-grid-col-7,
.v-grid-col-8,
.v-grid-col-9,
.v-grid-col-10{display: grid; grid-row-gap: 20px;}

.v-grid-col-2{grid-template-columns: repeat(2, 1fr);}
.v-grid-col-3{grid-template-columns: repeat(3, 1fr);}
.v-grid-col-4{grid-template-columns: repeat(4, 1fr);}
.v-grid-col-5{grid-template-columns: repeat(5, 1fr);}
.v-grid-col-6{grid-template-columns: repeat(6, 1fr);}
.v-grid-col-7{grid-template-columns: repeat(7, 1fr);}
.v-grid-col-8{grid-template-columns: repeat(8, 1fr);}
.v-grid-col-9{grid-template-columns: repeat(9, 1fr);}
.v-grid-col-10{grid-template-columns: repeat(10, 1fr);}

/*@media screen and (max-width: 1140px){
    .v-grid-col-3,
    .v-grid-col-4{grid-template-columns: repeat(2, 1fr);}
}

@media screen and (max-width: 900px){
    .v-grid-col-3,
    .v-grid-col-4{grid-template-columns: 1fr;}
}*/

.v-flex-col-2,
.v-flex-col-3,
.v-flex-col-4,
.v-flex-col-5,
.v-flex-col-6,
.v-flex-col-7,
.v-flex-col-8,
.v-flex-col-9,
.v-flex-col-10  {display: flex; flex-wrap: wrap;}

.v-flex-col-2 > * {width: 50%; margin: 10px 0;}
.v-flex-col-3 > * {width: 33.3333%; margin: 10px 0;}
.v-flex-col-4 > * {width: 25%; margin: 10px 0;}
.v-flex-col-5 > * {width: 20%; margin: 10px 0;}
.v-flex-col-6 > * {width: 16.6667%; margin: 10px 0;}
.v-flex-col-7 > * {width: 14.2875%; margin: 10px 0;}
.v-flex-col-8 > * {width: 12.5%; margin: 10px 0;}
.v-flex-col-9 > * {width: 11.1111%; margin: 10px 0;}
.v-flex-col-10 > * {width: 10%; margin: 10px 0;}

@media screen and (max-width: 960px){
    .v-flex-col-3 > *{width: 50%;}
}

@media screen and (max-width: 720px){
    .v-flex-col-3 > *{width: 100%;}
}

.v-col-2 > * {width: 50%;}
.v-col-3 > * {width: 33.3333%;}
.v-col-4 > * {width: 25%;}
.v-col-5 > * {width: 20%;}
.v-col-6 > * {width: 16.6667%;}
.v-col-7 > * {width: 14.2875%;}
.v-col-8 > * {width: 12.5%;}
.v-col-9 > * {width: 11.1111%;}
.v-col-10 > * {width: 10%;}