.v-button-group1{
    display: flex;
    padding: 0px;
    margin: 0px;
    border-color: blue;
    border-width: 20px;

}
.v-btn-gr-el1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    border: none;
    outline: none;
    margin: 2px 0px;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 0px;
}
.v-btn-gr-el1-r{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    border: none;
    outline: none;
    margin: 2px 0px;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 0px 50px 50px 0px;
}
.v-btn-gr-el1-l{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    border: none;
    outline: none;
    margin: 2px 0px;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 50px 0px 0px 50px;
}