/*--------------padding--------------*/
.v-pr-5{padding-right: 5px;}
.v-pl-5{padding-left: 5px;}
.v-pd-5{padding-bottom: 5px;}
.v-pt-5{padding-top: 5px;}
/*----------------------------------*/
.v-pr-4{padding-right: 4px;}
.v-pl-4{padding-left: 4px;}
.v-pd-4{padding-bottom: 4px;}
.v-pt-4{padding-top: 4px;}
/*----------------------------------*/
.v-pr-3{padding-right: 4px;}
.v-pl-3{padding-left: 4px;}
.v-pd-3{padding-bottom: 4px;}
.v-pt-3{padding-top: 4px;}
/*----------------------------------*/
.v-pr-2{padding-right: 4px;}
.v-pl-2{padding-left: 4px;}
.v-pd-2{padding-bottom: 4px;}
.v-pt-2{padding-top: 4px;}
/*----------------------------------*/
.v-pr-1{padding-right: 4px;}
.v-pl-1{padding-left: 4px;}
.v-pd-1{padding-bottom: 4px;}
.v-pt-1{padding-top: 4px;}

/*--------------margin--------------*/
.v-mr-auto {margin: auto;}
/*----------------------------------*/
.v-mr-5{margin-right: 5px;}
.v-ml-5{margin-left: 5px;}
.v-md-5{margin-bottom: 5px;}
.v-mt-5{margin-top: 5px;}
/*----------------------------------*/
.v-mr-4{margin-right: 4px;}
.v-ml-4{margin-left: 4px;}
.v-md-4{margin-bottom: 4px;}
.v-mt-4{margin-top: 4px;}
/*----------------------------------*/
.v-mr-3{margin-right: 4px;}
.v-ml-3{margin-left: 4px;}
.v-md-3{margin-bottom: 4px;}
.v-mt-3{margin-top: 4px;}
/*----------------------------------*/
.v-mr-2{margin-right: 4px;}
.v-ml-2{margin-left: 4px;}
.v-md-2{margin-bottom: 4px;}
.v-mt-2{margin-top: 4px;}
/*----------------------------------*/
.v-mr-1{margin-right: 4px;}
.v-ml-1{margin-left: 4px;}
.v-md-1{margin-bottom: 4px;}
.v-mt-1{margin-top: 4px;}