.slider-1{
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    height: 300px;
    background: linear-gradient(150deg, rgba(155,99,198,1) 0%, rgba(102,45,222,1) 100%);
}

.slider-1 div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-1 div:nth-child(1) label{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 5px;
    opacity: .5;
}

.slider-1 div:nth-child(1) label:hover{
    opacity: 1;
    transition: opacity 1s ease-out;
}

.slider-1 div:nth-child(2){
    width: 400%;
    display: flex;
}

.slider-1 div:nth-child(2) div{
    width: 25%;
    height: 100%;
}

.slider-1 div div:nth-child(5){
    background-color: #f00;
}

.slider-1 div div:nth-child(6){
    background-color: #ff0;
}

.slider-1 div div:nth-child(7){
    background-color: #f0f;
}

.slider-1 div div:nth-child(8){
    background-color: #00f;
}

.slider-1 div:nth-child(2) input{
    display: none;
    visibility: hidden;
}

.slider-1 div:nth-child(2) #slider-1-r1:checked ~ .slider-1-content-1{
    margin-left: -0;
    transition: margin-left 1s;
}

.slider-1 div:nth-child(2) #slider-1-r2:checked ~ .slider-1-content-2{
    margin-left: -25%;
    transition: margin-left 1s;
}

.slider-1 div:nth-child(2) #slider-1-r3:checked ~ .slider-1-content-3{
    margin-left: -50%;
    transition: margin-left 1s;
}

.slider-1 div:nth-child(2) #slider-1-r4:checked ~ .slider-1-content-4{
    margin-left: -75%;
    transition: margin-left 1s;
}