/*--------------border--------------*/
.v-border-5{border: 5px;}
.v-border-4{border: 4px;}
.v-border-3{border: 3px;}
.v-border-2{border: 2px;}
.v-border-1{border: 1px;}
/*----------------------------------*/
.v-br-5{border-right: 5px;}
.v-bl-5{border-left: 5px;}
.v-bd-5{border-bottom: 5px;}
.v-bt-5{border-top: 5px;}
/*----------------------------------*/
.v-br-4{border-right: 4px;}
.v-bl-4{border-left: 4px;}
.v-bd-4{border-bottom: 4px;}
.v-bt-4{border-top: 4px;}
/*----------------------------------*/
.v-br-3{border-right: 3px;}
.v-bl-3{border-left: 3px;}
.v-bd-3{border-bottom: 3px;}
.v-bt-3{border-top: 3px;}
/*----------------------------------*/
.v-br-2{border-right: 2px;}
.v-bl-2{border-left: 2px;}
.v-bd-2{border-bottom: 2px;}
.v-bt-2{border-top: 2px;}
/*----------------------------------*/
.v-br-1{border-right: 1px;}
.v-bl-1{border-left: 1px;}
.v-bd-1{border-bottom: 1px;}
.v-bt-1{border-top: 1px;}

/*--------------outline--------------*/
.v-out-5{outline: 5px;}
/*----------------------------------*/
.v-out-4{outline: 4px;}
/*----------------------------------*/
.v-out-3{outline: 3px;}
/*----------------------------------*/
.v-out-2{outline: 2px;}
/*----------------------------------*/
.v-out-1{outline: 1px;}