.v-bg-success{ background-color: green; }
.v-bg-hover.v-bg-success:hover,
.v-bg-active.v-bg-success:active,
.v-bg-focus.v-bg-success:focus{ background-color: rgb(7, 102, 37); }

.v-bg-pink{ background-color: #c0189c; }
.v-bg-hover.v-bg-pink:hover,
.v-bg-active.v-bg-pink:active,
.v-bg-focus.v-bg-pink:focus{ background-color: #831458; }

.v-bg-danger{ background-color: #C92534; }
.v-bg-hover.v-bg-danger:hover,
.v-bg-active.v-bg-danger:active,
.v-bg-focus.v-bg-danger:focus{ background-color: #bd2130; }

.v-bg-secondary{ background-color: #6c757d; }
.v-bg-hover.v-bg-secondary:hover,
.v-bg-active.v-bg-secondary:active,
.v-bg-focus.v-bg-secondary:focus{ background-color: #5A6268; }

.v-bg-primary{ background-color: #0863D6;  }
.v-bg-hover.v-bg-primary:hover,
.v-bg-active.v-bg-primary:active,
.v-bg-focus.v-bg-primary:focus{ background-color: #07478b; }

.v-bg-light{ background-color: #fdfdfe;  }
.v-bg-hover.v-bg-light:hover,
.v-bg-active.v-bg-light:active,
.v-bg-focus.v-bg-light:focus{ background-color: #aaa; }

.v-bg-dark{ background-color: #2d2f34;  }
.v-bg-hover.v-bg-dark:hover,
.v-bg-active.v-bg-dark:active,
.v-bg-focus.v-bg-dark:focus{ background-color: #333; }

.v-bg-yellow{ background-color: #ffcf2c;  }
.v-bg-hover.v-bg-yellow:hover,
.v-bg-active.v-bg-yellow:active,
.v-bg-focus.v-bg-yellow:focus{ background-color: rgb(105, 104, 23); }

.v-bg-lightblue{ background-color: #5da0ef;  }
.v-bg-hover.v-bg-lightblue:hover,
.v-bg-active.v-bg-lightblue:active,
.v-bg-focus.v-bg-lightblue:focus{ background-color: #2e80dd; }

.v-bg-violet{ background-color: #6c5dd3;  }
.v-bg-hover.v-bg-lightblue:hover,
.v-bg-active.v-bg-lightblue:active,
.v-bg-focus.v-bg-lightblue:focus{ background-color: #2e80dd; }