.v-text-white{
    color: #fff;
}
.v-text-black{
    color: #000;
}
.v-text-7{
    color: #777;
}
.v-text-6{
    color: #666;
}
.v-text-5{
    color: #555;
}
.v-text-4{
    color: #444;
}
.v-text-3{
    color: #333;
}
.v-text-2{
    color: #222;
}
.v-text-1{
    color: #111;
}