.v-btn-collapse{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    height: 50px;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
}

.v-btn-collapse div{
    border: 1px solid #555;
    width: 100%;
    height: 0;
}