.v-btn-1{
    /*padding: 25px 100px;*/
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 17.5px 0;
    user-select: none;
    transition: box-shadow 0.5s;
}

.v-btn-1:hover{
    transition: box-shadow 0.5s;
    box-shadow: none;
}

.v-btn-1 p{
    padding: 0;
    margin: 0;
}

.v-btn-1-symbol{
    display: none;
}

