.v-btn-collapse,
.v-btn-collapse-x{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    height: 50px;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
}

.v-btn-collapse div,
.v-btn-collapse-x div{
    border: 1px solid #555;
    width: 100%;
    height: 0;
}

.v-btn-collapse:hover div{
    border: 1px solid #fff;
}

.v-btn-collapse-x div:nth-child(1){
    transform: translateX(35%) rotateZ(-45deg) translateX(-43%);
    transition: transform 1s;
}

.v-btn-collapse-x div:nth-child(2){
    transform: translateX(100%);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 1s;
}

.v-btn-collapse-x div:nth-child(3){
    transform: translateX(35%) rotateZ(45deg) translateX(-43%);
    transition: transform 1s;
}

.v-btn-collapse-notx div:nth-child(1){
    transform: translateX(0) rotateZ(0) translateX(0);
    transition: transform 1s;
}

.v-btn-collapse-notx div:nth-child(2){
    transform: translateX(0);
    opacity: 1;
    transition-property: transform, opacity;
    transition-duration: 1s;
}

.v-btn-collapse-notx div:nth-child(3){
    transform: translateX(0) rotateZ(0) translateX(0);
    transition: transform 1s;
}
