.v-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    border: none;
    outline: none;
    margin: 2px;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

.v-btn-primary{
    color: #fff;
    background-color: #0863D6; 
}

.v-btn-primary:focus, .v-btn-primary:hover{
    background-color: #07478b;
}

.v-btn-secondary{
    color: #fff;
    background-color: #6c757d;
}

.v-btn-secondary:hover, .v-btn-secondary:focus{
    background-color: #5A6268;
}

.v-btn-success{
    color: #fff;
    background-color: green;
}

.v-btn-success:hover, .v-btn-success:focus{
    background-color: rgb(7, 102, 37);
}

.v-btn-danger{
    color: #fff;
    background-color: #C92534;
}

.v-btn-danger:hover, .v-btn-danger:focus{
    background-color: #bd2130;
}

.v-btn-pink{
    color: #fff;
    background-color: #c0189c;
}

.v-btn-pink:hover, .v-btn-pink:focus{
    background-color: #831458;
}